<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Controle Remoto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <app-btn-toogle
      [(ngModel)]="isGyroControl"
      [label]="'Habilitar controle por giroscópio?'">
    </app-btn-toogle>

    <div class="control">
      <analog-controller [(ngModel)]="angle"></analog-controller>
      <h2>
        {{angle || 'Soltou o controle'}}
      </h2>
    </div>
  </div>
</ion-content>
