ion-header, ion-content {
  --ion-background-color: #ecf0f3;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  height: 80%;
  margin: 20px;
}

.container > h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #525252;
}